.nav-div a {
    text-decoration: none;
    color: #000000;
}
.nav-div a:hover {
    color: #000000;
}
.without-text-transform {
    text-transform: none !important;
}
.orange-color {
  color: #fa6621;
}
.blue-color {
  color: #3b7bee;
}

.content-p {
  font-size: 1.6em
}